traefik:
  deployment:
    annotations: {}
      # reloader.stakater.com/match: "true"
    # initContainers:
    #   - name: volume-permissions
    #     image: busybox:latest
    #     command: ["sh", "-c", "touch /data/acme.json; chmod -v 600 /data/acme.json"]
    #     volumeMounts:
    #     - mountPath: /data
    #       name: data
  additionalArguments:
    - "--serverstransport.insecureskipverify=true"

  persistence:
    enabled: false
    accessMode: ReadWriteMany

  certificatesResolvers:
    letsencrypt:
      acme:
        # caserver: https://acme-staging-v02.api.letsencrypt.org/directory
        email: mmuehlebach+acme@gmail.com
        dnsChallenge:
          provider: digitalocean
          delayBeforeCheck: 0
          disablepropagationcheck: true
          resolvers:
            - "1.1.1.1:53"
            - "8.8.8.8:53"
        storage: /data/acme.json

  env:
    - name: DO_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: digitalocean-token
          key: access-token
    - name: DO_TTL
      value: "60"
    - name: DO_PROPAGATION_TIMEOUT
      value: "300"

  logs:
    general:
      format: json
      level: ERROR
    access:
      enabled: true
      format: json
  metrics:
    prometheus: {}
#  tracing:
#    jaeger:
#      collector:
#        endpoint: http://simplest-collector.tracing.svc:14268/api/traces?format=jaeger.thrift

  service:
    annotations:
      metallb.universe.tf/address-pool: internal
      metallb.universe.tf/allow-shared-ip: shared
    spec:
      externalTrafficPolicy: Local
  # securityContext:
  #   capabilities:
  #     drop: [ALL]
  #     add: [NET_BIND_SERVICE]
  #   runAsNonRoot: false
  #   readOnlyRootFilesystem: true
  #   runAsGroup: 0
  #   runAsUser: 0
  # hostNetwork: true

  ports:
    web:
      http:
        redirections:
          entrypoint:
            to: websecure
            scheme: https
            permanent: true
      forwardedHeaders:
        trustedIPs: &DOTrustedIPs
          - "192.168.42.150/32"    # MetalLB IP range
          - "192.168.42.151/32"    # MetalLB IP range
          - "192.168.42.152/32"    # MetalLB IP range
          - "192.168.42.153/32"    # MetalLB IP range
          - "192.168.42.154/32"    # MetalLB IP range
          - "192.168.42.155/32"    # MetalLB IP range
          - "192.168.42.156/32"    # MetalLB IP range
          - "192.168.42.157/32"    # MetalLB IP range
          - "192.168.42.158/32"    # MetalLB IP range
          - "192.168.42.159/32"    # MetalLB IP range
          - "192.168.42.160/32"    # MetalLB IP range
          - "192.168.42.161/32"    # MetalLB IP range
          - "192.168.42.162/32"    # MetalLB IP range
          - "192.168.42.163/32"    # MetalLB IP range
          - "192.168.42.164/32"    # MetalLB IP range
          - "192.168.42.165/32"    # MetalLB IP range
          - "192.168.42.166/32"    # MetalLB IP range
          - "192.168.42.167/32"    # MetalLB IP range
          - "192.168.42.168/32"    # MetalLB IP range
          - "192.168.42.169/32"    # MetalLB IP range
          - "192.168.42.0/24"    # MetalLB IP range
      proxyProtocol:
        trustedIPs: *DOTrustedIPs
    websecure:
      asDefault: true
      http3:
        enabled: true
      forwardedHeaders:
        trustedIPs: *DOTrustedIPs
      proxyProtocol:
        trustedIPs: *DOTrustedIPs
      http:
        tls:
          enabled: true
        # middlewares:
          # - "error-pages-error-pages@kubernetescrd"
          # - "traefik-https-redirectscheme@kubernetescrd,error-pages-error-pages@kubernetescrd"
          # - traefik-https-redirectscheme@kubernetescrd

    cups:
      port: 631
      expose:
        default: true
      exposedPort: 631
      protocol: TCP
    plex:
      port: 32400
      expose:
        default: true
      exposedPort: 32400
      protocol: TCP
    # dns-udp:
    #   port: 53
    #   expose:
    #     default: true
    #   exposedPort: 53
    #   protocol: UDP
    # dns-tcp:
    #   port: 53
    #   expose:
    #     default: true
    #   exposedPort: 53
    #   protocol: TCP
    # netbios:
    #   port: 139
    #   expose:
    #     default: true
    #   exposedPort: 139
    #   protocol: TCP
    smb:
      port: 4445
    #   hostPort: 445
      expose:
        default: true
      exposedPort: 4445
      protocol: TCP
    metrics:
      port: 9100
      # expose: true
      # exposedPort: 9100
  ingressRoute:
    dashboard:
      enabled: true
      entryPoints: ["websecure"]
      tls:
        secretName: traefik-framsburg-ch-tls
  ingressClass:
    enabled: true
    isDefaultClass: true
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
      ingressClass: traefik
    kubernetesIngress:
      ingressClass: traefik
      publishedService:
        enabled: true
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  resources:
    requests:
      cpu: "100m"
      memory: "150Mi"
    limits:
      cpu: "300m"
      memory: "300Mi"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 4
    metrics:
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 80
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
    behavior:
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
