traefik:
  fullnameOverride: traefik
  deployment:
    annotations:
      # reloader.stakater.com/match: "true"
    # initContainers:
    #   - name: volume-permissions
    #     image: busybox:latest
    #     command: ["sh", "-c", "touch /data/acme.json; chmod -v 600 /data/acme.json"]
    #     volumeMounts:
    #     - mountPath: /data
    #       name: data
  globalArguments:
    - "--global.checknewversion"
    - "--serverstransport.insecureskipverify=true"
    - "--providers.kubernetesingress.ingressclass=traefik"
    - "--metrics.prometheus=true"
    - "--metrics.prometheus.entryPoint=metrics"
    - "--entrypoints.websecure.http.middlewares=traefik-https-redirectscheme@kubernetescrd,error-pages-error-pages@kubernetescrd"

  persistence:
    enabled: true
    accessMode: ReadWriteMany

  certResolvers:
    letsencrypt:
      # caserver: https://acme-staging-v02.api.letsencrypt.org/directory
      email: mmuehlebach+acme@gmail.com
      dnsChallenge:
        provider: digitalocean
        delayBeforeCheck: 0
        disablepropagationcheck: true
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
      storage: /data/acme.json

  env:
    - name: DO_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: digitalocean-token
          key: access-token
    - name: DO_TTL
      value: "60"
    - name: DO_PROPAGATION_TIMEOUT
      value: "300"

  logs:
    general:
      format: json
      level: DEBUG
    access:
      enabled: true
      format: json
  metrics:
    prometheus: {}
  service:
    annotations:
      metallb.universe.tf/address-pool: default
      metallb.universe.tf/allow-shared-ip: shared
    spec:
      externalTrafficPolicy: Local
  # securityContext:
  #   capabilities:
  #     drop: [ALL]
  #     add: [NET_BIND_SERVICE]
  #   runAsNonRoot: false
  #   readOnlyRootFilesystem: true
  #   runAsGroup: 0
  #   runAsUser: 0
  # hostNetwork: true
  ports:
    web:
      redirectTo:
        port: websecure
    websecure:
      tls:
        enabled: true
    cups:
      port: 631
      expose: true
      exposedPort: 631
      protocol: TCP
    # dns-udp:
    #   port: 53
    #   expose: true
    #   exposedPort: 53
    #   protocol: UDP
    # dns-tcp:
    #   port: 53
    #   expose: true
    #   exposedPort: 53
    #   protocol: TCP
    # netbios:
    #   port: 139
    #   expose: true
    #   exposedPort: 139
    #   protocol: TCP
    smb:
      port: 4445
    #   hostPort: 445
      expose: true
      exposedPort: 4445
      protocol: TCP
    metrics:
      port: 9100
      #expose: true
      #exposedPort: 9100
  ingressRoute:
    dashboard:
      enabled: false
  ingressClass:
    enabled: true
    isDefaultClass: true
    fallbackApiVersion: v1
  providers:
    kubernetesIngress:
      publishedService:
        enabled: true
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1
  resources:
    requests:
      cpu: "100m"
      memory: "150Mi"
    limits:
      cpu: "300m"
      memory: "300Mi"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    metrics:
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 80
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
    behavior:
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
