transmission:
  controller:
    enabled: true

  env:
    TZ: Europe/Zurich
    PUID: 666
    PGID: 666
    TRANSMISSION_WEB_HOME: ""
    TRANSMISSION_RPC_USERNAME: 
    TRANSMISSION_RPC_PASSWORD: 
    TRANSMISSION_RPC_AUTHENTICATION_REQUIRED: "true"
    # WHITELIST: "transmission.framsburg.ch, 192.168.42.150, 192.168.42.*, 10.43.*.*, 10.42.*.*"
    RPC_URL: https://transmission.framsburg.ch/transmission/rpc

  service:
    annotations:
      metallb.universe.tf/address-pool: metallb-external-ip-range
    utptcp:
      enabled: true
      type: LoadBalancer
      loadBalancerIP: 192.168.99.152
      ports:
        utptcp:
          enabled: true
          port: 51413
          protocol: TCP
          targetPort: 51413
          nodePort: 30402
        utpudp:
          enabled: true
          port: 51413
          protocol: UDP
          targetPort: 51413
          nodePort: 30402

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.passHostHeader: "true"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.priority: "10"
      hosts:
        - host: 'transmission.framsburg.ch'
          paths:
            - path: /transmission
              pathType: Prefix
      tls:
        - hosts: ['transmission.framsburg.ch']
          secretName: 'transmission-framsburg-ch-tls'

  securityContext:
    fsGroup: 666
    fsGroupChangePolicy: Always

  persistence:
    config:
      enabled: true
      type: pvc
      size: 1Gi
      accessMode: ReadWriteOnce

    downloads:
      enabled: true
      type: pvc
      size: 300Gi
      storageClass: longhorn-nfs-transient-v1
      accessMode: ReadWriteMany

flood:
  controller:
    enabled: true
    annotations:
      "sidecar.jaegertracing.io/inject": "true"

  env:
    TZ: Europe/Zurich
    # FLOOD_OPTION_rundir: /data
    FLOOD_OPTION_auth: none
    FLOOD_OPTION_trurl: 'http://torrent-transmission:9091/transmission/rpc'
    FLOOD_OPTION_truser: 'admin'
    FLOOD_OPTION_trpass: 'adminadmin'
    JAEGER_AGENT_HOST:
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.priority: "10"
      hosts:
        - host: 'flood.framsburg.ch'
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts: ['flood.framsburg.ch']
          secretName: 'flood-framsburg-ch-tls'

  podSecurityContext:
    runAsUser: 666
    runAsGroup: 666
    fsGroup: 666

  persistence:
    data:
      enabled: true
      type: pvc
      size: 1Gi
      accessMode: ReadWriteOnce
      mountPath: /data

  probes:
    liveness:
      enabled: false
    readiness:
      enabled: false
