---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: digitalocean-token
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: digitalocean-token
  data:
    - secretKey: access-token
      remoteRef:
        key: secret/data/framsburg/traefik
        property: digitalocean-token
