headlamp:

  env:
    - name: NPM_CONFIG_CACHE
      value: /tmp/npm

  config:
    oidc:
      secret:
        create: false
      externalSecret:
        enabled: true
        name: oidc-secret
      usePKCE: true
    watchPlugins: true

  pluginsManager:
    enabled: true
    env:
      - name: NPM_CONFIG_CACHE
        value: /tmp/npm
    securityContext:
      readOnlyRootFilesystem: false
      runAsNonRoot: false
      runAsUser: 0
    configContent: |
      plugins:
        - name: headlamp_cert-manager
          source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_cert-manager
          version: 0.1.0
        - name: headlamp_flux
          source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_flux
          version: 0.5.0

  ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: headlamp-forward-headers@kubernetescrd
    ingressClassName: traefik
    hosts:
      - host: headlamp.framsburg.ch
        paths:
          - path: /
            type: ImplementationSpecific
    tls:
      - secretName: headlamp-framsburg-ch-tls
        hosts:
          - headlamp.framsburg.ch
