apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: udp-ingressroute
spec:
  entryPoints:
    - trackerudp
  routes:
    - services:
        - name: utpudp
          port: 30402
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: tcp-ingressroute
spec:
  entryPoints:
    - trackertcp
  routes:
    - match: HostSNI(`*`)
      services:
        - name: utptcp
          port: 30402
