---
name: Documentation

on:
  push:
    branches:
      - main
      - master
    paths:
      - "docs/**.md"
      - "mkdocs.yaml"
      - ".github/workflows/docs.yaml"
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-drawio
      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Publish docs
        run: mkdocs gh-deploy
