---
name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: MegaLinter
        uses: oxsecurity/megalinter@v7.7.0
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PRINT_ALPACA: false
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}
          ENABLE_LINTERS: |-
            ${{
              join(
                fromJSON('
                  [
                    "ACTION_ACTIONLINT",
                    "ANSIBLE_ANSIBLE_LINT",
                    "COPYPASTE_JSCPD",
                    "KUBERNETES_KUBECONFORM",
                    "KUBERNETES_HELM",
                    "KUBERNETES_KUBESCAPE",
                    "MARKDOWN_MARKDOWNLINT",
                    "REPOSITORY_GIT_DIFF",
                    "YAML_PRETTIER",
                    "YAML_YAMLLINT"
                  ]
                '),
                ','
              )
            }}
          COPYPASTE_JSCPD_CONFIG_FILE: .github/linter/jscpd/jscpd.json
          KUBERNETES_DIRECTORY: ''
          KUBERNETES_KUBECONFORM_ARGUMENTS: --ignore-missing-schemas
          KUBERNETES_KUBECONFORM_FILTER_REGEX_EXCLUDE: "(Chart.yaml|values.yaml)"
          MARKDOWN_MARKDOWNLINT_CONFIG_FILE: .github/linter/markdownlint/markdownlint.yaml
          YAML_YAMLLINT_CONFIG_FILE: .github/linter/yamllint/.yamllint.yaml
          YAML_PRETTIER_CONFIG_FILE: .github/linter/prettier/.prettierrc.yaml
