authentik:
  global:
    deploymentAnnotations:
      "sidecar.jaegertracing.io/inject": "true"

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            preference:
              matchExpressions:
                - key: performance
                  operator: In
                  values:
                    - medium

    env:
      - name: AUTHENTIK_EMAIL__HOST
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: host
      - name: AUTHENTIK_EMAIL__PORT
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: port
      - name: AUTHENTIK_EMAIL__USERNAME
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: username
      - name: AUTHENTIK_EMAIL__PASSWORD
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: password
      - name: AUTHENTIK_EMAIL__USE_TLS
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: use_tls
      - name: AUTHENTIK_EMAIL__USE_SSL
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: use_ssl
      - name: AUTHENTIK_EMAIL__TIMEOUT
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: timeout
      - name: AUTHENTIK_EMAIL__FROM
        valueFrom:
          secretkeyRef:
            name: authentik-mail
            key: from

  authentik:
    secret_key: dontjudgemethisisjustfortesting    # TODO
    postgresql:
      host: '{{ .Release.Name }}-postgresql18'
      user: file:///postgres-creds/username
      password: file:///postgres-creds/password
    redis:
      host: '{{ .Release.Name }}-redis'

  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      hosts:
        - 'authentik.framsburg.ch'
      tls:
        - secretName: 'authentik-framsburg-ch-tls'
          hosts: ['authentik.framsburg.ch']
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-postgres-credentials
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true

  worker:
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-postgres-credentials
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true

postgresql18:
  settings:
    existingSecret: database-secret
    superuser:
      secretKey: superuserUsername
    superuserPassword:
      secretKey: superuserPassword

  userDatabase:
    existingSecret: database-secret
    name:
      secretKey: databaseName
    user:
      secretKey: databaseUsername
    password:
      secretKey: databasePassword
  storage:
    className: longhorn
    requestedSize: 10Gi
